<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/favicon.ico">
    <title>Hello world app</title>
</head>

<body>
    <h2>Hello world app written in node</h2>
    <a href="/ui/actuate">click here to actuate</a>
</body>

</html>